= render partial: "header"
.background__view
  .login
    %h2.login__title 企画者ログイン
    = link_to "新規企画者登録はこちら  >",new_planner_registration_path, class: "login__link"
    = render partial: "planners/shared/login_new"
= render partial: "footer"
