.footer
  .top
  .bottom
    .bottom__text Copyright © CyberAgent Crowd Funding, Inc. All Rights Reserved.main__content__catch-copy.
    = link_to "プライバシーポリシー", "https://www.makuake.com"
    = link_to "利用規約", "https://www.makuake.com"
    = link_to "運営会社", "https://www.makuake.com"
