%header aaaaaaaaaa
.main
  .main__contents
%footer
  .top
  .bottom
    .bottom__text Copyright © CyberAgent Crowd Funding, Inc. All Rights Reserved.
    %a.c{href: "https://www.makuake.com/"} プライバシーポリシー
    %a{href: "https://www.makuake.com/"} 利用規約
    %a{href: "https://www.makuake.com/"} 運営会社
