.ditail {
  width: 1000px;
  &__botton {
    background-color: #f7c600;
    border-radius: 2px;
    color: #ffffff;
    display: block;
    float: right;
    font-size: 16px;
    height: 38px;
    position: relative;
    text-align: center;
    line-height: 39px;
    margin-left: auto;
    top: -2px;
    text-decoration: none;
    width: 130px;
  }
}

.ditail__small {
  width: 480px;
  &-botton {
    background-color: #f7c600;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    display: block;
    border-radius: 2px;
    width: 90px;
    text-align: center;
    line-height: 31px;
    height: 32px;
    margin: 0 0 0 auto;
  }
}


