.background-view {
  width: 100%;
  height: 100%;
}

.rogin__means {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.form__text {
  margin-bottom: 5px;
  font-size: 14px;
  width: 100px;
  float: left;
  padding: 10px;
  height: 20px;
  text-align: center;
  margin-left: 40px;
  &-margin {
    margin-top: -16px;
  }
  &__small {
    color: #949494;
    font-size: 11px;
    line-height: 1.4;
  }
}

.form__box {
  float: left;
  padding: 6px;
  font-size: 13px;
  color: #333;
  border: solid 1px #D5D5D5;
  border-radius: 2px;
  background-color: #fff;
  width: 236px;
  height: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.rogin {
  background-color: #f5f5f5;
  height: 781px;
  width: 884px;
  padding: 40px;
  display: block;
  opacity: 1;
  z-index: 11000;
  margin: 70px auto 70px;
  &__title {
    font-size: 24px;
    text-align: center;
  }
  &__link {
    text-decoration: none;
    background: transparent;
    display: block;
    cursor: pointer;
    font-size: 14px;
    margin: 15px 0 30px 0;
    text-align: center;
    color: black;
  }
  &__copy  {
    font-size: 18px;
    text-align: center;
    margin: 30px 0;
  }
  &__sns {
    width:  49%;
    float: left;
    padding: 20px 0;
  }
  &__makuake {
    height: 558px;
    width:  49%;
    float: left;
    padding: 20px 0;
    border-left: 1px solid #e7e7e7;
  }
}

.check__box {
  float: left;
  margin: 20px 0 0 60px;
}

.pw__forget {
  float: left;
  margin: 35px 0 0 50px;
  text-align: center;
  text-decoration: none;
  bottom: 14px;
  font-size: 12px;
  color: #858585;
}

.rogin__signup {
  background-color: #f5f5f5;
  height: 405px;
  width: 884px;
  padding: 40px;
  display: block;
  margin: 70px auto 70px;
}

.rogin__sns__signup {
  border-right: 1px solid #e7e7e7;
  height: 300px;
  width:  49%;
  float: left;
  padding: 20px 0;
}
