.header {
  height: 66px;
  &__inbox {
    margin: 0 auto;
    width: 1000px;
    height: 66px;
    &__logo {
      margin-top: 17px;
      float: left;
    }
    &-published {
      float: right;
      font-size: 14px;
      margin: 23px 0 0 0;
    }
    &__icon {
      float: right;
      &-heart {
        height: 24px;
        width: 24px;
        float: right;
        margin: 21px 30px 0 30px;
        opacity: 0.7;

      }
      &-mail {
        height: 31px;
        width: 28px;
        float: right;
        margin: 18px 30px 0 0;
        opacity: 0.7;
      }
      &-bell {
        height: 25px;
        width: 25px;
        float: right;
        margin: 20px 34px 0 0;
        opacity: 0.7;
      }
      &-own{
        height: 32px;
        width: 32px;
        float: right;
        margin-top: 17px;
        border-radius: 4px;
      }
    }
  }
}
