.header {
  height: 66px;
}

.inbox {
  margin: 0 auto;
  width: 1000px;
  &__logo {
  margin-top: 17px;
  float: left;
  }
}

.search__form {
  @include clearfix();
  float: left;
  width: 350px;
  margin: 15px 0 0 18px;
  &__box {
    width: 185px;
    height: 34px;
    line-height: 36px;
    padding: 0 12px;
    font-size: 14px;
    border-top: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    border-radius: 4px 0 0 4px!important;
    outline: none;
    border-right: none;
    float: left;
  }
  &__btn {
    width: 90px;
    height: 34px;
    border: 1px solid #d3d3d3;
    border-radius: 0 4px 4px 0;
    background: #fff;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    color: #333333;
    float: left;
    &-image {
      margin: 5px 0 0 13px;
      float: left;
    }
    &-text {
      font-size: 13px;
      border: none;
      background-color: #fff;
      outline: none;
      cursor: pointer;
      float: left;
      margin: 9px 0 0 4px;
    }
  }
}

.inbox__icon {
  @include clearfix();
  float: right;
  height: 66px;
  width: 490px;
  text-align: right;
  &-favorite {
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: black;
    top: 5px;
    right: 21px;
  }
  &-favorite:hover{
    text-decoration: underline;
    opacity: 0.9;
  }
  &-published {
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: black;
    line-height: 70px;
    float: left;
  }
  &-published:hover{
    text-decoration: underline;
    opacity: 0.9;
  }
  .fa {
    position: relative;
    font-size: 25px;
    margin: 20px 20px 0 0;
  }
  .fa:hover {
    text-decoration: none;
    color: #f7c600;
  }
  &-heart {
    right: 20px;
    top: 2px;
  }
  &-small-heart {
    font-size: 17px !important;
    top: 6px;
  }
  &-mail {
    right: 12px;
    top: 1px;
  }
  &-bell {
    right: 6px;
    top: 2px;
  }
  &__imagebox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 35px;
    width: 35px;
    top: 10px;
    &-own {
      border-radius: 4px;
      position: relative;
    }
  }
}

.more {
  position: absolute;
  z-index: 2;
  height: 100px;
  width: 80px;
  color: black;
  &__list {
    display: block;
    text-align: left;
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
    display: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 3px;
    cursor: pointer;
    &__text {
      display: block;
      padding-left: 5px;
      height: 30px;
      font-size: 12px;
      line-height: 30px;
      &:hover {
        background-color: #f7c600;
        color: #fff;
      }
    }
  }
}

.icon-right{
  float: right;
}

.signin__icon {
  &-heart {
    margin: 24px 6px 0 25px;
  }
  &-text {
    font-size: 14px;
    margin: 23px 25px 0 0;
    color: black;
  }
}

















