html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1000px;
  font-family: Lucida Grande;
}

.carousel-indicators {
  position: relative !important;
  height: 56px !important;
  top: 0px !important;
  padding-left: 40px;
  min-width: 1000px;
}

.main__under-bar {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 56px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.content__box{
  cursor: pointer;
  float: left;
  width: 95px !important;
  height: 56px !important;
  &-background {
    height: 56px;
  }
  &-image {
    height: 34px !important;
    width: 60px !important;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    top: -45px;
    opacity: 1 !important;
  }
}
.content__box-background:hover{
  background: black;
  opacity: 0.7;
}


a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

a :hover{
  text-decoration: underline;
  opacity: 0.8;
}

p {
  margin-bottom: 18px;
}

.main {
  background-color: #f5f5f5;
  @include clearfix();
}

.full__width {
  max-height: 430px;
  width: 100%;
}

.contents {
  width: 1000px;
  margin: 0 auto;
}

.catch-copy {
  height: 63px;
  margin-top: 45px;
  text-align: center;
  &-top {
    font-size: 26px;
    margin-bottom: 12px;
  }
  &-bottom {
    font-size: 16px;
    color: #7f8488;
  }
}

#page-top {
  position: fixed;
  right: 40px;
}
#page-top a {
  display: block;
  border-radius: 5px;
}
#page-top a:hover {
  text-decoration: none;
  opacity: 0.8;
}


